<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.FruitMapper">
	    
	<!-- 查询商品信息 -->
	<select id="selectList" parameterType="pojo.queryVo.FruitQueryVo" resultType="pojo.custom.FruitCustom">
		select * from fruit
	</select>
	

</mapper>
